# macOS
.DS_Store
**/.DS_Store

# Python
__pycache__/
*.pyc
.venv/
venv/

# Environment
.env
.env.*

# IDE
.vscode/

# Jupyter
.ipynb_checkpoints/

# Raw data
*.csv
data/
raw/
lh_nautical_csv/

# Credentials
*.pem
*.key

